@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-100;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
}